[Desktop Entry]
Type=Application
Name=Google Maps
Name[cs]=Mapy Google
Name[de]=Google Karten
Icon=com.github.vikdevelop.googlemaps.png
Exec=googlemaps.sh
Categories=Internet
